@charset "utf-8";
/* bonnybak mode 12/27 2013 */

/* reset */
/* base */
html {font-family:'돋움',Dotum,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {margin:0}
/* links */
a {background:transparent}
a:focus {outline:thin dotted}
a:active,a:hover {outline:0}
/* typography */
abbr[title] {border-bottom:1px dotted}
strong {font-weight:bold}
pre {white-space:pre-wrap}
q {quotes:'\201C' '\201D' '\2018' '\2019'}
small {font-size:80%}
/* embedded content */
img {border:0}
/* figure */
figure {margin:0}
/* form */
button,input,select,textarea {margin:0;font-size:100%;font-family:inherit}
button,input {line-height:normal}
button,select {text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled] {cursor:default}
input[type="checkbox"],input[type="radio"] {padding:0;box-sizing:border-box}
input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0;border:0}
textarea {overflow:auto;vertical-align:top}
/* table */
table {border-collapse:collapse;border-spacing:0}

/* flexible base */
body {font-size:0.75em;line-height:1;font-family:'맑은 고딕',Malgun-Gothic;color:#333; min-width:360px;}
h1,h2,h3,h4,h5,h6,p,pre,dl {margin:0}
address {font-style:normal}
hr {display:none}
ol,ul {margin:0;padding:0;list-style:none}
a {color:#666;text-decoration:none}
fieldset {margin:0;padding:0;border:0}
legend {padding:0;border:0}
select,input {outline:0}

/* sub main */


section {
    padding: 20px 0 50px;
    text-align: center;
	height:100%;

}
section h1 {font-size: 4em;}
.subMain_gradi {
    padding: 70px 0 120px;
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b3dced 0%, #87bad6 50%, #bce0ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b3dced), color-stop(50%,#87bad6), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #b3dced 0%,#87bad6 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #b3dced 0%,#87bad6 50%,#bce0ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #b3dced 0%,#87bad6 50%,#bce0ee 100%); /* IE10+ */
    background: linear-gradient(135deg,  #b3dced 0%,#87bad6 50%,#bce0ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.subMain {background-color:#b3dced; padding: 70px 0 120px;}


#page2, #page4, #page5 {background-color:#b3dced;}

.subMain h1 {
    margin-top: -20px;
    font-size: 18em;
    color: #fafafa;

}
.subMain .logo {
    display: inline-block;

    margin-top: 0;
    font-size: 3em;
    color: #D63E30;

}
.subMain h2 {
	display: inline-block;
	/*width: 548px;*/
    margin-top: 10px;
	padding: 10px 80px;
	background-color: #fafafa;
	font-size: 2em;
	color: #87BAD6;
}

/* pagination */
#pagination {
	position: absolute;
	top: 40%;
	right: 1.25%;
}

.pageSection {
	padding: 10px 5px;
}
.pageSection a {display: block;}
.pageDot {
	width: 9px;
	height: 9px;
	border: 1px solid #fafafa;
	border-radius: 5px;
	background-color: red;
}

/* sub intro */
.subIntro {padding: 70px 0; font-size:1.2em;}
.subIntro h1 {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 3em;
    font-family: Georgia, Arial;
}
.subIntro h2 {margin-bottom: 0px; padding:35px 10px 25px 10px;}
.subIntro p {
    line-height: 1.5em;
    font-family:Arial, "Courier New";
	padding:35px;
}
.underline {
    width: 200px;
    margin: 40px auto;
    border-bottom: 1px solid #444;
}
.innerBox {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.innerBox p {
    padding: 20px 20px;
    border: 1px solid #ccc;
	background-color:#eee;
}

.innerBox ol, .innerBox ul {padding:0 12px ;}
.innerBox ol li {padding:5px 0; line-height:140%;}
.innerBox ul li{padding:15px 0; line-height:140%;}
.innerBox h3 {margin-bottom:10px;}



/* miss toba */
.missToba {
    position: relative;
    width: 310px;
    height: 475px;
    margin: 0 auto;
}
.faceWrap {
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 1;
    width: 310px;
    height: 220px;
    padding: 45px 0 0 0;
    border-radius: 100%;
    background: #ea232a;
}
.face {
    width: 260px;
    height: 210px;
    margin: 0 auto;
    border-radius: 100%;
    background: #fff;
}
.ears {
    position: relative;
    width: 200px;
    height: 90px;
    margin: 0 auto;
}
.ears div {
    position: absolute;
    top: 10px;
    left: 130px;
    width: 60px;
    height: 150px;
    border-radius: 40% 40% 0 0;
    background: #ea232a;
}
.ears div:first-child {left: 10px;}
.eyes div {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 20px;
    height: 30px;
    border-radius: 100%;
    background: #333;
}
.eyes div:first-child {left: 185px;}
.nose {
    position: absolute;
    top: 160px;
    left: 140px;
    z-index: 1;
    width: 30px;
    height: 20px;
    border-radius: 100%;
    background: #333;
}
.mouth div {
    position: absolute;
    top: 160px;
    left: 157px;
    width: 35px;
    height: 35px;
    box-shadow: -2px 2px 0 #333;
    border-radius: 100%;
    background: #fff;
}
.mouth div:first-child {
    left: 118px;
    box-shadow: 2px 2px 0 #333;
}
.cheek div {
    position: absolute;
    top: 280px;
    left: 30px;
    z-index: 2;
    width: 100px;
    height: 50px;
    border-radius: 100%;
    background: #fccdc7;
    -ms-transform:rotate(35deg); /* IE 9 */
    -moz-transform:rotate(35deg); /* Firefox */
    -webkit-transform:rotate(35deg); /* Safari and Chrome */
    -o-transform:rotate(35deg); /* Opera */
    transform:rotate(35deg);
}
.cheek div:first-child {
    left: 180px;
    -ms-transform:rotate(-35deg); /* IE 9 */
    -moz-transform:rotate(-35deg); /* Firefox */
    -webkit-transform:rotate(-35deg); /* Safari and Chrome */
    -o-transform:rotate(-35deg); /* Opera */
    transform:rotate(-35deg);
}
.body {
    position: absolute;
    top: 350px;
    left: 105px;
    width: 100px;
    height: 90px;
    background: #ea232a
}
.buttons div {
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #333;
}
.buttons div:first-child {top: 45px;}
.legs div {
    position: absolute;
    top: 440px;
    left: 105px;
    width: 20px;
    height: 30px;
    border-radius: 0 0 70% 70%;
    box-shadow: inset 0 -10px 0 #222;
    background: #ea232a;
}
.legs div:first-child {left: 185px;}
.arms div {
    position: absolute;
    top: 355px;
    left: 205px;
    width: 40px;
    height: 20px;
    border-radius: 0 70% 70% 0 ;
    background: #ea232a;
}
.arms div:first-child {
    border-radius: 70% 0 0 70%;
    left: 65px;
}


#outfit1 {
    border-top: 0;
}
.outfit {
    border-top: 1px solid #CCCCCC;
    height: auto;
    text-align: center;

}
.no-js .outfit {
    height: auto;
}
#outfit1 {
    border-top: 0 none;
}
#outfit-drawer {
    left: 60px;
    position: fixed;
    top: 0;
}


/* project_history */
/*.ProjectBox {width:70%; margin:0 auto; min-width:380px; border:1px solid red;}
.project_board { width:100%; }
ul.project_board li {float:left;  width:350px; text-align:center; margin-right:23px;}

ul.project_board li img {border:3px solid #eee; min-width:370px; width:90%;}
ul.project_board li span {padding:18px 8px; display:block;}
*/

#page5 {min-width:380px;}
.clear {content:""; display:block; clear:both;}
.ProjectBox {width:85%; min-width:380px; margin:0 auto;}

.project_board li {float:left;  width:370px; text-align:center; margin-left:15px; margin-right:-4px;}
.project_board li img {border:3px solid #eee; width:90%;}
.project_board li span {padding:18px 8px; display:block;}


.news_board h1 {
    padding: 30px 0 40px;
    font-size: 3em;
    font-family: Georgia, Malgun-Gothic, '맑은 고딕';
}

/* table */
caption {
    visibility:hidden;
    overflow:hidden;
    width:0;
    height:0;
    font-size:0;
    line-height:0;
}
table .line_left {text-align: left;}

/* board */
.board_wrap {
    margin: 0 6%;
    padding-top: 6px;
    background: url('http://www.paris.co.kr/images/common/bgDiagonalLine.gif') 0 0 repeat-x;
}
.board_tbl {
    width: 100%;
    margin: 12px 0 24px;
    text-align: center;
}
.board_tbl thead th {
    padding: 6px 0 18px;
    background: url('http://www.paris.co.kr/images/common/divisionLine.gif') 0 9px no-repeat;
}
.board_tbl thead th:first-child {background: 0;}
.board_tbl tbody th,
.board_tbl tbody td {
    padding: 18px;
    border: 1px solid #f4f1ee;
    border-width: 1px 0 1px 1px;
}
.board_tbl tbody tr:first-child th,
.board_tbl tbody tr:first-child td {border-top: 0;}
.board_tbl tbody th:first-child,
.board_tbl tbody td:first-child {
    border: 1px solid #fff;
    border-width: 1px 0 1px 1px;
    background-color: #444;
    color: #f4f1ee;
}
.board_tbl tbody th:nth-child(2) {border-left: 0;}
.board_tbl tbody td:last-child {
    border: 1px solid #fff;
    border-width: 1px 0 1px 1px;
    background-color: #b3dced;
    font-weight: bold;
    color: #f4f1ee;
}


/* layer */
.layer {
    position: absolute;
    top: 10383px;
    left: 0;
    max-width: 800px;
    min-width: 600px;
    height: 500px;
    border: 1px solid #000;
    background: #fff;
}
.layer .closeBtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    padding: 10px 0;
    border: 1px solid #000;
}
.layer .bg {
    position:absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #000; 
    opacity:.5; filter:alpha(opacity=50);
}